* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #222b4b;
    /* max-width: 1200px;
    margin: 0 auto; */
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

/* HEADER  >>> */

.header {
    position: absolute;
    width: 100%;
    padding-top: 35px;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
}

.logo span {
    font-size: 28px;
    font-weight: bold;
    color: #222b4b;
    position: relative;
    letter-spacing: 1px;
}

.logo span::before {
    content: 'Юридическая компания';
    position: absolute;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: .5px;
    top: 80%;
    left: 1px;
}

.logo span::after {
    content: url(img/logo.png);
    position: absolute;
    top: 3px;
}

.contacts {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 18px;
    color: #67c8f0;
}

.address {
    position: relative;
    margin-right: 10px;
    font-size: 13px;
}

.address b {
    font-size: 17px;
}

.address::before {
    content: url(img/marker.png);
    position: absolute;
    left: -30px;
    top: 5px;
}

/* <<<  HEADER */


/* MAIN  >>> */

.main {
    width: 100%;
    height: 550px;
    background: url('img/y3463.jpg') no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main h1 {
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
}

.main p {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/* <<<  MAIN */

/* NAV  >>> */

a {
    text-decoration: none;
}

.nav {
    width: 100%;
}

.nav .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.menu-item span {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.menu-item__head {
    height: 170px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 50px;
    
}


.menu-item__content p a {
    font-size: 14px;
    color: #222b4b;
}

.menu-item-1 .menu-item__head {
    background: url('img/bankruptcy.jpg') no-repeat center;
}

.menu-item-1 .menu-item__head span {
    padding-right: 100px;
    margin-bottom: 15px;
}

.menu-item-2 .menu-item__head {
    background: url('img/business.jpg') no-repeat center;
}

.menu-item-2 .menu-item__head span {
    padding-right: 130px;
}

.menu-item-3 .menu-item__head {
    background: url('img/private.jpg') no-repeat center;
}

.menu-item-3 .menu-item__head span {
    padding-right: 80px;
}

.menu-item-4 .menu-item__head {
    background: url('img/remote.jpg') no-repeat center;
}

.menu-item-4 .menu-item__head span {
    padding-right: 25px;
    margin-bottom: 5px;
}

.menu-item-5 .menu-item__head {
    background: url('img/cooperation.jpg') no-repeat 0%;
}

.menu-item-5 .menu-item__head span {
    padding-right: 80px;
    margin-bottom: 30px;
}

.menu-item-6 .menu-item__head {
    background: url('img/special.jpg') no-repeat center;
}

.menu-item-6 .menu-item__head span {
    padding-right: 50px;
    margin-bottom: 5px;
}


/* <<<  NAV */

/* NEWS  >>> */

.news {
    margin-top: 100px;
    margin-bottom: 50px;
}

.news .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news .wrap h1 {
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-bottom: 50px;
}

.news .wrap h1::after {
    content: '';
    width: 104%;
    height: 30%;
    background: rgb(146, 204, 238);
    position: absolute;
    left: -2%;
    bottom: 10%;
    z-index: -1;
}

.news h2 {
    font-size: 21px;
    text-transform: uppercase;
}

.news p {
    font-size: 11px;
    margin: 10px 0;
}

.news span {
    font-size: 12px;
    text-transform: uppercase;
    color: #67c8f0;
}

.news-carousel {
    width: 100%;
}

.news-1,
.news-2,
.news-3 {
    padding: 20px;
    position: relative;
    padding: 0 20px;
}

.news-1::after,
.news-2::after {
    content: url(img/slash.png);
    position: absolute;
    top: 0px;
    right: -10px;

}

/* <<<  NEWS */

/* FOOTER  >>> */

ul {
    list-style: none;
}

.footer {
    background: #2c3f89;
    padding: 50px 0;
    color: white;
}

.footer .wrap {
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer-menu-1 {
    margin-right: 60px;
}

.footer-contacts__address {
    font-size: 21px;
    color: #67c8f0;
    font-weight: bold;
}

.footer-contacts__telephone {
    font-size: 16px;
    margin: 15px 0;
}

/* <<<  FOOTER */




/* MEDIA */

@media screen and (max-width: 1000px) {

    .menu-item { flex-basis: 50%; }
    .news-1::after, .news-2::after { content: ''; }

}

@media screen and (max-width: 640px) {
    .header .wrap { flex-direction: column; }
    .contacts { margin-right: 0; flex-direction: column; align-items: flex-start; }
    .address::before { content: ''; }
    .menu-item { flex-basis: 100%; } 
    /* .menu-item__wrap { align-items: center; display: flex; flex-direction: column; } */
    .main h1 { font-size: 28px; }
    .news { margin-top: 40px; }
    .news .wrap h1 { font-size: 20px; margin-bottom: 20px; }
    .footer .wrap { flex-direction: column; }
    .footer-contacts { margin-top: 30px; }
    
}

@media screen and (max-width: 400px) {
    .footer-contacts__address { font-size: 16px; }
    .news .wrap h1 { font-size: 18px; }
}

